@using ihff_project.Models;
@model IEnumerable<AllFilmInfo>

@{
    ViewBag.Title = "Events";
}

<h2>Events</h2>

<div class="row">
    <div class="col-md-9">
        <div class="container-fluid">
            <div class="row">
                @foreach (AllFilmInfo f in Model)
                {
                    <div class="col-md-12">
                        <h4><label>@f.Film_Naam - 
                        @if (f.Prijs == 0)
                        {
                            @:Free
                        }
                        else
                        {
                            @: €@string.Format("{0:0.00}", f.Prijs)
                        }
                        </label></h4>
                        <p><img src="@f.Image_path" alt="Movie image" height="250"/>
                        [@string.Format("{0:hh\\:mm}", f.Start_Tijd) until @string.Format("{0:hh\\:mm}", f.Eind_Tijd)] in @f.Locatie_Naam - @f.Zaal <br \>
                        @if (f.IMDb_rating != null)
                        {
                            @:IMDb rating: @f.IMDb_rating<br \>
                        }
                        @f.Beschrijving_EN
                        <p>
                        <button class="pull-right btn btn-danger">Buy now</button>
                        <button class="pull-right btn btn-danger">Add to programme</button>
                        </p>    
                    </div>
                    <hr />
                }

            </div>
        </div>

    </div>
    <div class="col-md-3">
        <h3>Personal Programme</h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="PersonalProgrammeBox" style="background-color:#fff; height: 200px;">
                        <p>Element1</p>
                        <p>Element1</p>
                        <p>Element1</p>
                        <button type="button" class="btn btn-danger btn-lg btn-block" style="background-color: #c48416 !important;">Add programme to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




