@using ihff_project.Models;
@model AllFilmInfo

@{
    ViewBag.Title = "FilmDetail";
}

<h2>
    @Model.Film_Naam -
    @if (Model.Prijs == 0)
    {
        @:Free
}
    else
    {
        @: €@string.Format("{0:0.00}", Model.Prijs)
}
</h2>
<hr />
<div class="row">
    <div class="col-md-3">
        <p>
            <img src="@Model.Image_path" alt="Movie image" width="250" />
        </p>
    </div>
    <div class="col-md-4">
        <p>
            @Model.Beschrijving_EN
        </p>
    </div>

    <div class="col-md-3">
        <h4><label>Plays from @string.Format("{0:hh\\:mm}", Model.Start_Tijd) until @string.Format("{0:hh\\:mm}", Model.Eind_Tijd) in @Model.Locatie_Naam</label></h4><br \>
        <h4><label>Actors</label></h4>
        @Model.Acteurs <br \><br \>
        <h4><label>Genre</label></h4>
        @Model.Genre <br \><br \>
        <h4><label>IMdB Rating</label></h4>
        @Model.IMDb_rating <br \>
    </div>
</div>


